REACT_APP_API_KEY = "insert your string here"


1. Go to https://beta.openai.com/signup
2. Enter your email address and password
3. Verify your email address
4. Verify your phone number by entering the code that is sent to you via SMS
5. Once logged in, go to https://beta.openai.com/account/api-keys to get your secret API key
 